<h2><a name="ref_papers"></a>Refereed papers</h2>
<ul class="publist">
<li>
P.H.Fröhlich and <strong>B.Sotomayor</strong>. <em>Practical Systems Programming in Computer Science Education (Abstract Only)</em>. In Proceedings of the 2017 ACM SIGCSE Technical Symposium on Computer Science Education (SIGCSE '17).
</li>
<li>
<strong>B.Sotomayor</strong> and A.Shaw. <em>chidb: Building a Simple Relational Database System from Scratch</em>. 47th ACM Technical Symposium on Computing Science Education (<a href="http://sigcse2016.sigcse.org/">SIGCSE '16</a>), March 2-5, 2016, Memphis, USA. <a href="{{ "/pubs/sigcse2016-chidb.pdf" | relURL }}" onClick="javascript: pageTracker._trackPageview('pubs/sigcse2016-chidb.pdf');">PDF</a>
</li>
<li>
A.Bloomfield and <strong>B.Sotomayor</strong>. <em>A Programming Contest Strategy Guide</em>. 47th ACM Technical Symposium on Computing Science Education (<a href="http://sigcse2016.sigcse.org/">SIGCSE '16</a>), March 2-5, 2016, Memphis, USA. <a href="{{ "/pubs/sigcse2016-programming-contests.pdf" | relURL }}" onClick="javascript: pageTracker._trackPageview('pubs/sigcse2016-programming-contests.pdf');">PDF</a>
</li>
<li>
B.Liu, R.Madduri, <strong>B.Sotomayor</strong>, K.Chard, L.Lacinski, U.Dave, J.Li, C.Liu, I.Foster. <em>Cloud-based bioinformatics workflow platform for large-scale next-generation sequencing analyses</em>. <a href="http://www.j-biomed-inform.com/article/S1532-0464(14)00007-0/abstract?cc=y">Journal of Biomedical Informatics</a>, Vol. 49 (June 2014), pp. 119-133. <a href="https://pdfs.semanticscholar.org/e0a6/22bd6e897e8597d82b379486e36133e0838d.pdf" onClick="javascript: pageTracker._trackPageview('pubs/Cloud-Based_Bioinformatics_Workflow_Platform_for_Large-Scale_Next-Generation_Sequencing_Analysis.pdf');">PDF</a>
</li>
<li>
B.Liu, <strong>B.Sotomayor</strong>, R.Madduri, K.Chard, I.Foster. <em>Deploying Bioinformatics Workflows on Clouds with Galaxy and Globus Provision</em>. <a href="http://www.cse.buffalo.edu/faculty/tkosar/datacloud2012/">The Third International Workshop on Data Intensive Computing in the Clouds (DataCloud 2012)</a>, November 11, 2012, Salt Lake City, USA. <a href="http://www.cse.buffalo.edu/faculty/tkosar/datacloud2012/papers/datacloud2012_paper_6.pdf" onClick="javascript: pageTracker._trackPageview('pubs/datacloud2012_paper_6.pdf');">PDF</a>
</li>
<li>
<strong>B.Sotomayor</strong>, R.Santiago Montero, I.Martín Llorente, I.Foster, <em>Virtual Infrastructure Management in Private and Hybrid Clouds</em>. <a href="http://www.computer.org/internet">IEEE Internet Computing</a>, vol. 13, no. 5, pp. 14-22, Sep./Oct. 2009. Paper is available <a onClick="javascript: pageTracker._trackPageview('outgoing/ieee-ic');" href="http://www2.computer.org/portal/web/csdl/doi/10.1109/MIC.2009.119">here</a> but requires an IEEE subscription. Preprint: <a href="http://www.mcs.anl.gov/uploads/cels/papers/P1649.pdf" onClick="javascript: pageTracker._trackPageview('pubs/ieee-ic-preprint.pdf');">PDF</a> (technical content is essentially the same as the version in print)
</li>

<li>
<strong>B.Sotomayor</strong>, R.Santiago Montero, I.Martín Llorente, I.Foster, <em>Resource Leasing and the Art of Suspending Virtual Machines</em>. <a href="http://www.sersc.org/HPCC2009">The 11th IEEE International Conference on High Performance Computing and Communications (HPCC-09)</a>, June 25-27, 2009, Seoul, Korea. <a href="{{ "/pubs/hpcc09-sotomayor.pdf" | relURL }}" onClick="javascript: pageTracker._trackPageview('pubs/hpcc09-sotomayor.pdf');">PDF</a>
</li>
<li>
<strong>B.Sotomayor</strong>, R.Santiago Montero, I.Martín Llorente, I.Foster, <em>Capacity Leasing in Cloud Systems using the OpenNebula Engine</em> (short paper). <a href="http://www.cca08.org/">Workshop on Cloud Computing and its Applications 2008 (CCA08)</a>, October 22-23, 2008, Chicago, Illinois, USA.
</li>
<li>
<strong>B.Sotomayor</strong>, K.Keahey, I.Foster, <em>Combining Batch Execution and Leasing Using Virtual Machines</em>. <a href="http://www.hpdc.org/">HPDC 2008</a>, June 23-27, 2008, Boston, Massachusetts, USA. <a href="http://www.mcs.anl.gov/papers/P1491.pdf" onClick="javascript: pageTracker._trackPageview('pubs/hpdc242s-sotomayor.pdf');">PDF</a> See also: <a href="http://haizea.cs.uchicago.edu/"   onClick="javascript: pageTracker._trackPageview('outgoing/haizea.cs.uchicago.edu');">Haizea</a>, the open source project spawned by this paper.
</li>
<li>

A.Almeida, <strong>B.Sotomayor</strong>, J.Abaitua, D.López-de-Ipiña, <em>folk2onto: Bridging the gap between social tags and ontologies</em>. <a href="http://babage.dia.fi.upm.es/krrsw2008/">KRRSW 2008</a> (part of <a href="http://www.eswc2008.org/">ESWC 2008</a>), June 1-5, 2008, Tenerife, Spain.
</li>
<li>
<strong>B.Sotomayor</strong>, K.Keahey, I.Foster, T.Freeman, <em>Enabling Cost-Effective Resource Leases with Virtual Machines</em> (short paper). Hot Topics session in <a href="http://www.isi.edu/hpdc2007/">HPDC 2007</a>, Monterey Bay, CA (USA), June 27-29, 2007. <a href="http://haizea.cs.uchicago.edu/pubs/Haizea_HPDC2007HotTopics.pdf"  onClick="javascript: pageTracker._trackPageview('pubs/HPDC2007_hottopic_SotomayorKeaheyFosterFreeman.pdf');">PDF</a>
</li>
<li>
T.Freeman, K.Keahey, I.Foster, A.Rana, <strong>B.Sotomayor</strong>, F.Wuerthwein. <em>Division of Labor: Tools for Growth and Scalability of Grids</em>. <a href="http://www.icsoc.org/">ICSOC 2006</a>, Chicago (USA), December 4-7, 2006. <a href="http://www.nimbusproject.org/files/Division_Of_Labor_ICSOC.pdf"  onClick="javascript: pageTracker._trackPageview('pubs/Division_Of_Labor_ICSOC.pdf');">PDF</a>
</li>
<li>
<strong>B.Sotomayor</strong>, K.Keahey, I.Foster. <em>Overhead Matters: A Model for Virtual Resource Management</em>.  <a href="http://workspace.globus.org/vtdc06/">VTDC 2006</a> (part of <a href="http://sc06.supercomputing.org/">SuperComputing '06</a>), Tampa, FL (USA), November 17, 2006. <a href="http://www.nimbusproject.org/files/Overhead_Matters_VTDC06.pdf"  onClick="javascript: pageTracker._trackPageview('pubs/Overhead_Matters_VTDC06.pdf');">PDF</a>
</li>
<li>
I.Foster, T.Freeman, K.Keahey, D.Scheftner, <strong>B.Sotomayor</strong>, X.Zhang. <em>Virtual Clusters for Grid Communities</em>. <a href="http://pdcc.ntu.edu.sg/ccgrid2006/">CCGrid 2006</a>, Singapore, May 16-19, 2006.  <a href="{{ "/pubs/VirtualClusters.pdf" | relURL }}"  onClick="javascript: pageTracker._trackPageview('pubs/VirtualClusters.pdf');">PDF</a>
</li>
<li>
Javier García Zubía, Jesús Sanz Martínez, <strong>Borja Sotomayor Basilio</strong>. <em>A new approach to educational software for logic analysis and design</em>. <a href="http://www.iadat.org/iadate2004/">IADAT e2004</a>, International Conference on Education, Bilbao (Spain), July 7-9, 2004. <a href="{{ "/pubs/IADAT2004_Boole.pdf" | relURL }}"  onClick="javascript: pageTracker._trackPageview('pubs/IADAT2004_Boole.pdf');">PDF</a>
</li>
<li>
Javier García Zubía and <strong>Borja Sotomayor Basilio</strong>. <em>Software for analysis and design of digital systems in education. A comparison between BOOLE-DEUSTO and LogicAid</em>. <a href="http://ewme2004.epfl.ch/">EWME 2004</a>,  5th European Workshop on Microelectronics Education, Lausanne (Switzerland), April 15-16, 2004. <a href="{{ "/pubs/EWME_Boole.pdf" | relURL }}"  onClick="javascript: pageTracker._trackPageview('pubs/EWME_Boole.pdf');">PDF</a>
</li>
<li>
Javier García Zubía, Jesús Sanz Martínez, <strong>Borja Sotomayor Basilio</strong>. <em>BOOLE-DEUSTO, la aplicación para
sistemas digitales</em>. VII Jornadas de Enseñanza Universitaria de la
Informática, <a href="http://dmi.uib.es/~jenui/">JENUI 2001</a> (Palma de Mallorca, June 16-18, 2001).
ISBN: 84-7632-657-2. Pgs. 417-420.

</li>
</ul>

<h2><a name="theses"></a>PhD Manuscripts</h2>
<ul class="publist">

<li>
<span style="font-weight:bold">PhD Dissertation</span> &nbsp;&nbsp;Borja Sotomayor. <em>Provisioning Computational Resources Using Virtual Machines and Leases</em>. <a href="http://www.uchicago.edu/">University of Chicago</a>, <a href="http://www.cs.uchicago.edu/">Department of Computer Science</a>. Defended July 7, 2010. <a href="{{ "dissertation" | relURL }}">See dissertation page.</a>

</li>

<li>
<span style="font-weight:bold">Candidacy Exam Proposal</span> (i.e., "Dissertation Proposal")&nbsp;&nbsp;Borja Sotomayor. <em>Provisioning Computational Resources Using Virtual Machines and Leases</em>. <a href="http://www.uchicago.edu/">University of Chicago</a>, <a href="http://www.cs.uchicago.edu/">Department of Computer Science</a>. Passed on November 25th, 2008 <a href="{{ "/pubs/candidacy-latest.pdf" | relURL }}" onClick="javascript: pageTracker._trackPageview('candidacy.pdf');">PDF</a>

</li>

<li>
<span style="font-weight:bold">Master's Paper</span>&nbsp;&nbsp;Borja Sotomayor. <em>A Resource Management Model for VM-based Virtual Workspaces</em>. <a href="http://www.uchicago.edu/">University of Chicago</a>, <a href="http://www.cs.uchicago.edu/">Department of Computer Science</a>. Defended January 3rd, 2007. Approved February 23rd, 2007. <a href="http://haizea.cs.uchicago.edu/pubs/Workspace_Resource_Mgmt_Sotomayor_Masters.pdf" onClick="javascript: pageTracker._trackPageview('pubs/Workspace_Resource_Mgmt_Sotomayor_Masters.pdf');">PDF</a>
</li>

</ul>

<h2><a name="books"></a>Books</h2>
<ul class="publist">
<li>
Borja Sotomayor, Lisa Childers. <em>Globus® Toolkit 4: Programming Java Services</em>. December 2005, <a href="http://www.mkp.com/">Morgan Kaufmann Publishers</a>. ISBN: 0123694043.
</li>
</ul>

<h2><a name="talks"></a>Talks</h2>
<ul class="publist">

<li>
<strong>Resource Leasing and the Art of Suspending Virtual Machines</strong>. <a href="http://www.sersc.org/HPCC2009">The 11th IEEE International Conference on High Performance Computing and Communications (HPCC-09)</a>, June 25-27, 2009, Seoul, Korea.
</li>

<li>
<strong>Capacity Leasing in Cloud Systems using the OpenNebula Engine</strong>. <a href="http://www.cca08.org/">Workshop on Cloud Computing and its Applications 2008 (CCA08)</a>, October 22-23, 2008, Chicago, Illinois, USA.
</li>

<li>
<strong>Combining Batch Execution and Leasing Using Virtual Machines</strong>. <a href="http://www.hpdc.org/">HPDC 2008</a>, June 23-27, 2008, Boston, Massachusetts, USA. <a href="http://haizea.cs.uchicago.edu/pubs/Haizea_HPDC2008-slides.pdf" onClick="javascript: pageTracker._trackPageview('pubs/hpdc08_slides.pdf');">PDF</a>
</li>

<li>
<strong>A Gentle Introduction to Grid Computing</strong>. Graduate Pizza Seminar, University of Chicago. February 18, 2008. <a href="lectures/20080218_GentleIntroductionToGridComputing.pdf"  onClick="javascript: pageTracker._trackPageview('pubs/20080218_GentleIntroductionToGridComputing.pdf');">PDF</a>
</li>

<li>
<strong>Grid Computing y Virtualización</strong>. <a href="http://www.eside.deusto.es/eventos/cursillosjulio/">Cursillos de Julio 2007</a>, University of Deusto (Bilbao, Spain). July 10, 2007. <a href="lectures/grid_virtualizacion-1x2.pdf" onClick="javascript: pageTracker._trackPageview('pubs/grid_virtualizacion-1x2.pdf');">PDF</a>

</li>
<li>
<strong>Virtual Workspaces: State of the Art and Current Directions</strong>. <a href="http://www.ci.uchicago.edu/wiki/bin/view/VDS/DslCS/DSLWorkshop2007">DSL Workshop 2007</a>, University of Chicago. May 29, 2007.
</li>
<li>
<strong>Virtual Machines for Grid Computing</strong>. <a href="https://twiki.grid.iu.edu/twiki/bin/view/Education/MidwestGridWorkshop">Midwest Grid Workshop 2007</a>, Chicago, Illinois. March 24-25, 2007. <a href="http://workspace.globus.org/papers/MGW2007_1x2.pdf" onClick="javascript: pageTracker._trackPageview('pubs/MGW2007_1x2.pdf');">PDF</a>

</li>
<li>
<strong>A Resource Management Model for VM-based Virtual Workspaces</strong>. Master's Defense. <a href="http://www.uchicago.edu/">University of Chicago</a>, <a href="http://www.cs.uchicago.edu/">Department of Computer Science</a>. January 3rd, 2007 <a href="{{ "/pubs/masters_presentation.pdf" | relURL }}" onClick="javascript: pageTracker._trackPageview('pubs/masters_presentation.pdf');">PDF</a>
</li>
<li>
<strong>Virtual Workspaces: Dynamic Virtual Environments in the Grid</strong>. Invited talk, 2nd ESAC Grid Workshop, Madrid (Spain), October 5-6, 2006. <a href="lectures/VW_EGW06.pdf" onClick="javascript: pageTracker._trackPageview('pubs/VW_EGW06.pdf');">PDF</a>
</li>
<li>
<strong>Development Tools for GT4 Service Programming</strong> (session organizer). Mini-symposium, <a href="http://www.globusworld.org/">GlobusWORLD 2006</a>, Washington D.C. (USA), September 11-15, 2006.  [<a href="gw06/devtools/">session website</a>]

</li>
<li>
<strong>Nuevas Perspectivas en Lenguajes de Programación: Teoría de Tipos y Seguridad de Tipos</strong>. <a href="http://www.eside.deusto.es/eventos/cursillosjulio/">Cursillos de Julio 2006</a>, University of Deusto (Bilbao, Spain). July 10, 2006. <a href="lectures/lenguajes_programacion.pdf" onClick="javascript: pageTracker._trackPageview('pubs/lenguajes_programacion.pdf');">PDF</a>
</li>
<li>
<strong>Resource Management for Virtual Clusters</strong>. <a href="http://dsl.cs.uchicago.edu/DSLW2006/index.html">DSL Workshop 2006</a>, University of Chicago. June 2, 2006. <a href="lectures/DSLWorkshop_Borja_VCRM.pdf" onClick="javascript: pageTracker._trackPageview('pubs/DSLWorkshop_Borja_VCRM.pdf');">PDF</a>

</li>
<li>
<strong>A Gentle Introduction to Grid Computing</strong>. <a href="http://people.cs.uchicago.edu/~dinoj/gradseminar.html">CS/TTI Grad Student Cake Talk Series</a>, University of Chicago. February 15, 2006. <a href="lectures/GridIntro.pdf" onClick="javascript: pageTracker._trackPageview('pubs/GridIntro.pdf');">PDF</a>
</li>
<li>
<strong>Límites Computacionales: Introducción a la Teoría de la Computación y de la Complejidad</strong>. <a href="http://www.eside.deusto.es/eventos/cursillosjulio/">Cursillos de Julio 2005</a>, University of Deusto (Bilbao, Spain). July 15, 2005. <a href="lectures/limites_computacionales.pdf" onClick="javascript: pageTracker._trackPageview('pubs/limites_computacionales.pdf');">PDF</a>

</li>
<li>
<strong>GT3IDE: An Eclipse plug-in for Globus Toolkit programmers</strong>. <a href="http://www.globusworld.org/">GlobusWORLD 2005</a>, Boston (USA), February 7-11, 2005. <a href="{{ "/pubs/GlobusWORLD2005_GT3IDE_slides.pdf" | relURL }}" onClick="javascript: pageTracker._trackPageview('pubs/GlobusWORLD2005_GT3IDE_slides.pdf');">PDF</a>
</li>
<li>
<strong>A new approach to educational software for logic analysis and design</strong>. <a href="http://www.iadat.org/iadate2004/">IADAT e2004</a>, International Conference on Education, Bilbao (Spain), July 7-9, 2004. <a href="{{ "/pubs/IADAT2004_Boole_slides.pdf" | relURL }}">PDF</a>
</li>
<li>
<strong>Towards a Service-Oriented Grid</strong>. Invited Talk, 4th CRAC (Grid and Peer-to-Peer Middleware for Cooperative Learning Environments) Workshop, Valladolid (Spain), June 16, 2004. <a href="lectures/towards_service_oriented_grid.pdf" onClick="javascript: pageTracker._trackPageview('pubs/towards_service_oriented_grid.pdf');">PDF</a>

</li>
<li>
<strong>Introducción a la Computación Grid</strong>. <a href="http://www.eside.deusto.es/eventos/semana/">Semana ESIDE 2004</a>, University of Deusto (Bilbao, Spain). April 30, 2004. <a href="lectures/IntroduccionGrid.pdf" onClick="javascript: pageTracker._trackPageview('pubs/IntroduccionGrid.pdf');">PDF</a>
</li>
</ul>

<h2><a name="nonref"></a>Other non-refereed work</h2>
<ul class="publist">
<li>
A.Rana, F.Wuerthwein, R.Gardner, K.Keahey, T.Freeman, A.Vaniachine, B.Holzman, <strong>et al</strong>. <em>An Edge Services Framework (ESF) for EGEE, LCG, and OSG</em>. <a href="http://www.tifr.res.in/~chep06/">CHEP (Computing in High Energy and Nuclear Physics) 2006</a>, Mumbai, February 13-17, 2006.
</li>

<li>
I.Foster, T.Freeman, K.Keahey, A.Rana, <strong>B.Sotomayor</strong>, F.Wuerthwein. ANL/MCS-P1316-0106. <em>Division of Labor: Tools for Growth and Scalability of Grids</em> [Technical Report]. January 2006 
</li>

<li>
<strong>Borja Sotomayor</strong>, Lisa Childers. <em>GDP: The Globus Documentation Project</em> [poster]. <a href="http://www.globusworld.org/">GlobusWORLD 2005</a>, Boston (USA), February 7-11, 2005.
</li>
</ul>


<h2><a name="software"></a>Software</h2>
<ul class="publist">
<li>
Javier García Zubía, Jesús Sanz Martínez, Borja Sotomayor Basilio. <em>Manual de usuario del BOOLE-DEUSTO v2.1 - Entorno de diseño lógico / BOOLE-DEUSTOren erabiltzaileentzako eskuliburua / BOOLE-DEUSTO user manual</em> [Includes CD-ROM]. Universidad de Deusto - Departamento de Publicaciones. Bilbao (Spain), 2005. ISBN: 84-7485-973-5.

</li>
<li>
Javier García Zubía, Jesús Sanz Martínez, Borja Sotomayor Basilio. <em>Boole-Deusto: entorno de diseño lógico</em>. Universidad de Deusto - Departamento de Publicaciones. Bilbao (Spain), 2004. ISBN: 84-7485-929-8.
</li>
</ul>

<h2><a name="extra"></a>Popular press</h2>
<ul class="publist">
<li>
I was a contributor to <em>Revista UD</em>, the <a href="http://www.deusto.es/">University of Deusto</a>'s quarterly magazine, from 2001 to 2011, where I wrote about my experiences as a Spaniard living and studying in the US.
</li>
<li>
Pablo Garaizar Sagarminaga, Alvaro Marín Illera, and Borja Sotomayor Basilio. <em>e-GHOST y GedI: Fomentando Software Libre y Web fuera de las aulas</em>. Revista ESIDE (#4), 2003. DL: BI-599-00. Pgs. 5--7. <a href="{{ "/pubs/revistaeside2003.pdf" | relURL }}">PDF</a>
</li>
<li> 
Unai Extremo Baigorri and Borja Sotomayor Basilio. <em>La Plataforma .NET: ¿El Futuro de la Web?</em>. Revista ESIDE (#3), 2002. DL: BI-599-00. Págs. 18-21. <a href="{{ "/pubs/revistaeside2002.pdf" | relURL }}">PDF</a>
</li>
</ul>


